DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
SERVER_PORT=4001
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:4001"
NODE_ENV=developement
JWT_PRIVATE_KEY=ezuygzeuyfgzuefgzgfzeiufueygcuiygqsucbyufg565656uzefzyuf2YUYG
WDS_SOCKET_HOST=127.0.0.1
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true
SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=465
SMTP_USER=b3dc0ca6fb2e69092683b4e10346e67b
SMTP_PASSWORD=ae87ae98dfc8ae5c756b4697b6c6571d 
EMAIL_FROM=jasmine-grozinger_student2023@wilder.school
FRONTEND_URL=http://localhost:3000
